Dit is een testing partial om te kijken of de data die ik fetch juist is gecodeert

<h3>sdgs</h3>
<% sdgs.forEach(function(sdg) { %>
    <label>
        <input type="checkbox">
        <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" height="250px"
            width="250px">
    </label>
    <% }) %>